
beakerx 
beautifulsoup4
boto3==1.4.4
botocore==1.5.90
certifi==2019.9.11
chardet==3.0.4
click==3.1
coloredlogs==8.0
dask
decorator==4.3.0
docutils==0.13.1
flask>=0.12,<0.13
futures==3.1.1
ggplot
google-api-python-client 
google-auth
https://dataiku-designer.mountsinai.org/public/packages/dataiku-internal-client.tar.gz
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz
idna==2.7
ipykernel==4.8.2
ipython-genutils==0.2.0
ipywidgets 
jinja2>=2.10,<2.11
jmespath==0.9.3
jupyter_client==5.2
jupyter_core==4.4.0
keyring
ndg-httpsclient
nose
notebook 
pandas-profiling 
parso==0.5.1
pexpect==4.6.0
pickleshare==0.7.5
pip==1.5.4
pipenv
plotly 
prompt-toolkit==2.0.10
ptyprocess==0.6.0
pyasn1==0.4.2
pydbml
pyOpenSSL==0.15.1
python-dateutil==2.7.4
pytz==2018.6
requests==2.20.1
s3transfer==0.1.10
six==1.12.0
spacy-lookups-data
speedtest-cli==2.0.0
sympy
traitlets==4.3.2
urllib3==1.24.3
virtualenv==15.2.0
visions
wcwidth==0.1.7
websocket-client
Werkzeug
wheel==0.24.0
xarray



