## Pip-dependencies for installing and running the project.
##  from: https://caremad.io/blog/setup-vs-requirement/
#
# Install it with:
#   pip install -r requirements/exe.pip
# --index-url https://pypi.python.org/simple/
# --no-index --find-links=/datadrive/data_dir/uploads/packages/Z_AZ/datasets/vi_1 vi
# -e .

pandas==0.23.4
python-dateutil==2.7.4
pytz==2018.6
requests==2.20.1

